{
  "extends": ["airbnb", "airbnb/hooks", "prettier/react", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "warn",
    "react/jsx-props-no-spreading": "warn"
  },
  "settings": {
    "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"],
            "moduleDirectory": ["node_modules", "src/"]
          }
      },
      "alias": {
        "map": [
          ["@", "./src"]
        ]
      },
      "node": {
        "extensions": [".js", ".jsx", ".json", ".ts", ".tsx", ".css"],
        "paths": ["src"],
      }
    }
  }